<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ext/m8theme-m8paraschmax/style.css" type="text/css" />
    <title>test1</title>
</head>
<body>
<div class="top-bar">
    <div><a href="/" style="display:inline-block;color:#f7f7ff;padding-bottom:10px;">My Website</a></div>
    <a href="/">Home</a> - My Blog - About - Contact 
</div>
<div class="hero-section">
    <video class="hero-video" loop muted autoplay playsinline  preload="auto"
        poster="pexels-lachlan-ross-5967989.jpg">
        <source src="/ext/m8theme-m8paraschmax/pexels-lachlan-ross-5967989.mp4" type="video/mp4">
    </video>
    <div class="hero-text">
        <h1>
            m8 
        </h1>
        <p>...the next step.</p>
    </div>
</div>
    
<div class="hero2 hero-parallax">
    <div class="caption caption2">
        <div class="hero2-text">
            <h1>..yes, it's Paraschmax!</h1>
            <p>
                This is an extension for m8 called m8theme-m8paraschmacks. You can find it here:
				<a href="https://github.com/nvsx/m8theme-m8paraschmax">https://github.com/nvsx/m8theme-m8paraschmax</a>
			</p>
        </div>
    </div>
</div>

<p class="some-box">
   At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p>

<div class="hero3 hero-parallax">
  <div class="caption">
    <span class="border">
        Some more time.
    </span>
  </div>
</div>

<p class="some-box">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
</p>
    
<div class="hero4 hero-parallax">
    <div class="caption">
        <span class="border">
            not so much
        </span>
      </div>
</div>

<!-- ........................................................................ -->

<p class="some-box">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p>

<div class="footer">
    Contact: test@example.com
</div>

</body>
</html>
